<web-app>
	<servlet>
		<servlet-class>DoIt</servlet-class>
		<servlet-name>firstServlet</servlet-name>
	</servlet>
	
	 <servlet>
		<servlet-class>InvokeJsp</servlet-class>
		<servlet-name>invoke</servlet-name>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>firstServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
  
	<servlet-mapping>
		<servlet-name>invoke</servlet-name>
		<url-pattern>/invoke</url-pattern>
	</servlet-mapping>
  
</web-app>