body{ 
	margin: 0;
	font-family: Segoe Script; 
	 background-image: url("./img/horses.jpg");
	 background-color: #0d0d0d;
	 background-repeat: no-repeat; 
}

a { color: inherit; text-decoration: none;}
a:hover{ font-weight: bold; }
a:visited{ color: inherit; }

#header{ 
	margin: 0; 
	height: 85px;
	
	font-family: Tahoma;
	
	background: -moz-linear-gradient(top, #FFF, #acd94c);
	background: -webkit-linear-gradient(top, #FFF, #acd94c);
	background: -ms-linear-gradient(top, #FFF, #acd94c);
	background: -o-linear-gradient(top, #FFF, #acd94c);
	width: 90%; margin-left: 5%; margin-top: 10px;
	-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
	border: 1px solid #acd94c;
}

#header .log{ text-align: right; margin-right: 50px; font-size: 12px; margin-top: -4px; }
#header .log span { margin-left: 15px;}

#header h1 { margin: 0; margin-left: 100px; padding-top: 22px; font-size: 25px; width: 300px; }
#header h2 { margin: 0; margin-left: 120px; font-size: 12px; width: 300px; }

#menu{
	 background-image: url("./img/fond-conteneur.png");
	width:14%;
	margin-left: 6%;
	float:left;
	backgroung-color: #0026FF;
	border: 1px solid black;
	border-top: 0px;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}
#menu p{  color: #DDDDDD; }

#conteneur{float : right; margin-right : 6%; width: 73.5%; height: auto; padding: 20px 0px;  background-image: url("./img/fond-conteneur.png"); border: 1px solid black; border-top: 0px;  -webkit-border-radius: 0px 0px 10px 10px; -moz-border-radius: 0px 0px 10px 10px; border-radius: 0px 0px 10px 10px;}
#conteneur form{ margin-right: 30px; }
#conteneur titrelabel{ width: 150px; color: #DDDDDD; font-size: 18px; text-decoration:underline;}
#conteneur label{ width: 150px; color: #DDDDDD; font-size: 14px; }
#conteneur input[type="text"], input[type="password"]{ opacity: 1;width: 100%; font-size: 16px; padding-left: 15px; color: #AAAAAA; height: 40px; background: #EEEEEE; border: 4px solid #3299CC; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
#conteneur input[type="submit"]{ width: 100px; font-family: inherit; 
margin-left: 2%; height: 40px; border: 3px solid #116699; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; 
	background: -moz-linear-gradient(top, #3299CC, #116699);
	background: -webkit-linear-gradient(top, #3299CC, #116699);
	background: -ms-linear-gradient(top, #3299CC, #116699);
	background: -o-linear-gradient(top, #3299CC, #116699);
	}
#conteneur input[type="text"]:focus{ color: black; }

#conteneur table{ margin-left: 1%;width: 98%; }
#conteneur td{ vertical-align:top; padding-bottom : 15px; }
#conteneur .label{ padding-top: 30px; }

#conteneur p{ text-align: center; color: #DDDDDD; }

#historique {margin-left: 1%;width: 98%;}
#historique td {vertical-align:middle; padding-bottom : 15px;}

#titre{ margin-left: 5%; margin-top :2% ; border: 1px solid black; background: white; width: 90%; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
#titre h1{ margin: 0; margin-bottom: 10px; font-family: Consolas;}
#titre img{ margin-bottom: -15px; padding-right: 5px; padding-left: 5px;}