body{ margin: 0; font-family: Segoe Script;}

a { color: inherit; text-decoration: none;}
a:hover{ font-weight: bold; }
a:visited{ color: inherit; }

#header{ 
	margin: 0; 
	height: 85px;
	
	font-family: Tahoma;
	
	background: -moz-linear-gradient(top, #FFF, #acd94c);
	background: -webkit-linear-gradient(top, #FFF, #acd94c);
	background: -ms-linear-gradient(top, #FFF, #acd94c);
	background: -o-linear-gradient(top, #FFF, #acd94c);
	width: 90%; margin-left: 5%; margin-top: 10px;
	-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
	border: 1px solid #acd94c;
}

#header .log{ text-align: right; margin-right: 50px; font-size: 12px; margin-top: -4px; }
#header .log span { margin-left: 15px;}

#header h1 { margin: 0; margin-left: 100px; padding-top: 22px; font-size: 25px; width: 300px; }
#header h2 { margin: 0; margin-left: 120px; font-size: 12px; width: 300px; }

#conteneur{ height: auto; padding: 20px 0px; background-color: #333333; border: 1px solid black; border-top: 0px; margin: 0% 25% 0% 25%; -webkit-border-radius: 0px 0px 10px 10px; -moz-border-radius: 0px 0px 10px 10px; border-radius: 0px 0px 10px 10px;}
#conteneur form{ margin-right: 30px;}
#conteneur label{ width: 150px; color: #DDDDDD; font-size: 12px; }
#conteneur input[type="text"], input[type="password"]{ width: 100%; font-size: 16px; padding-left: 15px; color: #AAAAAA; height: 40px; background: #EEEEEE; border: 4px solid #3299CC; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
#conteneur input[type="submit"]{ width: 83%; font-family: inherit; 
margin-left: 10%; height: 40px; border: 3px solid #116699; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; 
	background: -moz-linear-gradient(top, #3299CC, #116699);
	background: -webkit-linear-gradient(top, #3299CC, #116699);
	background: -ms-linear-gradient(top, #3299CC, #116699);
	background: -o-linear-gradient(top, #3299CC, #116699);}
#conteneur input[type="text"]:focus{ color: black; }

#conteneur table{ margin-left: 25%; width: 50%; }
#conteneur .label{ padding-top: 30px; }

#titre{ margin: 8% 0% 0% 24%; border: 1px solid black; width: 52%; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
#titre h1{ margin: 0; margin-bottom: 10px; font-family: Consolas;}
#titre img{ margin-bottom: -15px; padding-right: 5px; padding-left: 5px;}